Классификация

In [32]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd
import numpy as np
from scipy.stats import skew, kurtosis

# file_path = './online_shoppers_intention.csv'
file_path = './adult 3 (1).csv'

df = pd.read_csv(file_path)

print(f"Размер: {df.shape}")

Размер: (48842, 15)

income

In [33]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['income_num'] = le.fit_transform(df['income'])
df['marital_status_num'] = le.fit_transform(df['marital-status'])
df['relationship_num'] = le.fit_transform(df['relationship'])
df['race_num'] = le.fit_transform(df['race'])
df['gender_num'] = le.fit_transform(df['gender'])

print("\n income_num:")
print(sorted(df['income_num'].unique()))
print("\n marital_status_num:")
print(sorted(df['marital_status_num'].unique()))
print("\n relationship_num:")
print(sorted(df['relationship_num'].unique()))
print("\n race_num:")
print(sorted(df['race_num'].unique()))
print("\n gender_num:")
print(sorted(df['gender_num'].unique()))

columns_to_drop = ['income', 'fnlwgt', 'native-country', 'education',
                   'workclass', 'marital-status', 'occupation', 'relationship',
                   'race', 'gender']
df = df.drop(columns=columns_to_drop)

print("Столбцы после удаления:")
print(df.columns.tolist())

 income_num:
[np.int64(0), np.int64(1)]

 marital_status_num:
[np.int64(0), np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6)]

 relationship_num:
[np.int64(0), np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5)]

 race_num:
[np.int64(0), np.int64(1), np.int64(2), np.int64(3), np.int64(4)]

 gender_num:
[np.int64(0), np.int64(1)]
Столбцы после удаления:
['age', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'income_num', 'marital_status_num', 'relationship_num', 'race_num', 'gender_num']

In [34]:
print(df.describe())

                age  educational-num  capital-gain  capital-loss  \
count  48842.000000     48842.000000  48842.000000  48842.000000
mean      38.643585        10.078089   1079.067626     87.502314
std       13.710510         2.570973   7452.019058    403.004552
min       17.000000         1.000000      0.000000      0.000000
25%       28.000000         9.000000      0.000000      0.000000
50%       37.000000        10.000000      0.000000      0.000000
75%       48.000000        12.000000      0.000000      0.000000
max       90.000000        16.000000  99999.000000   4356.000000

       hours-per-week    income_num  marital_status_num  relationship_num  \
count    48842.000000  48842.000000        48842.000000      48842.000000
mean        40.422382      0.239282            2.618750          1.443287
std         12.391444      0.426649            1.507703          1.602151
min          1.000000      0.000000            0.000000          0.000000
25%         40.000000      0.000000            2.000000          0.000000
50%         40.000000      0.000000            2.000000          1.000000
75%         45.000000      0.000000            4.000000          3.000000
max         99.000000      1.000000            6.000000          5.000000

           race_num    gender_num
count  48842.000000  48842.000000
mean       3.668052      0.668482
std        0.845986      0.470764
min        0.000000      0.000000
25%        4.000000      0.000000
50%        4.000000      1.000000
75%        4.000000      1.000000
max        4.000000      1.000000

In [35]:
numeric_columns = df.select_dtypes(include=[np.number]).columns

print("\nАсимметрия:")
for col in numeric_columns:
    skew_val = skew(df[col].dropna())
    print(f"{col:20s}: {skew_val:8.3f}")

print("\nЭксцесс:")
for col in numeric_columns:
    kurt_val = kurtosis(df[col].dropna())
    print(f"{col:20s}: {kurt_val:8.3f}")

Асимметрия:
age                 :    0.558
educational-num     :   -0.317
capital-gain        :   11.894
capital-loss        :    4.570
hours-per-week      :    0.239
income_num          :    1.222
marital_status_num  :   -0.016
relationship_num    :    0.792
race_num            :   -2.448
gender_num          :   -0.716

Эксцесс:
age                 :   -0.184
educational-num     :    0.626
capital-gain        :  152.677
capital-loss        :   20.012
hours-per-week      :    2.951
income_num          :   -0.506
marital_status_num  :   -0.536
relationship_num    :   -0.754
race_num            :    4.951
gender_num          :   -1.488